
body {
  font-family: 'Noto Sans TC';
}


.cStatusInfo {
  padding: 1em;
}
.cPaperSlip {
  padding: 1em;

  &_title {
    margin: 0.6em 0 1em;

    span {
      font-size: 1.4em;
    }
  }
  &_status {
     margin: 1em 0.4em;
  }
  &_form {
    %scFormChild {
      margin: 0.4em;
      display: block;
    }

    content: "";

    &_roomIds {
      @extend %scFormChild;

      .markInput {
        width: 18em;
      }

      &_csvUpload {
        display: block;

        span {
          font-size: 0.6em;
        }
        .markInput {
          vertical-align: middle;
        }
      }
    }
    &_sourceLink {
      @extend %scFormChild;
    }
    &_submit {
      @extend %scFormChild;
    }
    .markInput {
      margin-left: 1em;
      padding: 0.2em;
    }
  }
}

.cLogin {
  padding: 1em;

  &_pop {
    &_title {
      margin: 0.6em 0 1em;

      span {
        font-size: 1.4em;
      }
    }
    &_statusInfo {
      margin: 1em 0.4em;
    }
    &_form {
      %scFormChild {
        margin: 0.4em;
        display: block;
      }

      &_phone {
        @extend %scFormChild;
      }
      &_verifiedCode {
        @extend %scFormChild;

        &_otherSentBtn {
          margin-left: 0.4em;
        }
      }
      &_password {
        @extend %scFormChild;

        &_deleteAccount {
        }
        .markSeparation {
          margin: 0 0.4em;
        }
      }
      &_signup {
        @extend %scFormChild;
      }
      &_submit {
        @extend %scFormChild;
      }
      &_reset {
        @extend %scFormChild;
      }
      .markInput {
        margin-left: 1em;
        padding: 0.2em;
      }
    }
  }
}

