body {
  font-family: "Noto Sans TC";
}

.cStatusInfo {
  padding: 1em;
}

.cGetParticipants {
  padding: 1em;
}
.cGetParticipants_title {
  margin: 0.6em 0 1em;
}
.cGetParticipants_title span {
  font-size: 1.4em;
}
.cGetParticipants_status {
  margin: 1em 0.4em;
}
.cGetParticipants_form > * {
  margin: 0.4em;
  display: block;
}
.cGetParticipants_form > * .markInput {
  margin-left: 1em;
  padding: 0.2em;
}

.cTuckUser {
  padding: 1em;
}
.cTuckUser_title {
  margin: 0.6em 0 1em;
}
.cTuckUser_title span {
  font-size: 1.4em;
}
.cTuckUser_status {
  margin: 1em 0.4em;
}
.cTuckUser_form > * {
  margin: 0.4em;
  display: block;
}
.cTuckUser_form > * .markInput {
  margin-left: 1em;
  padding: 0.2em;
}
.cTuckUser_form_userIds .markInput {
  width: 18em;
}
.cTuckUser_form_userIds_csvUpload {
  display: block;
}
.cTuckUser_form_userIds_csvUpload span {
  font-size: 0.6em;
}
.cTuckUser_form_userIds_csvUpload .markInput {
  vertical-align: middle;
}

.cPaperSlip {
  padding: 1em;
}
.cPaperSlip_title {
  margin: 0.6em 0 1em;
}
.cPaperSlip_title span {
  font-size: 1.4em;
}
.cPaperSlip_status {
  margin: 1em 0.4em;
}
.cPaperSlip_form > * {
  margin: 0.4em;
  display: block;
}
.cPaperSlip_form > * .markInput {
  margin-left: 1em;
  padding: 0.2em;
}
.cPaperSlip_form_roomIds .markInput {
  width: 18em;
}
.cPaperSlip_form_roomIds_csvUpload {
  display: block;
}
.cPaperSlip_form_roomIds_csvUpload span {
  font-size: 0.6em;
}
.cPaperSlip_form_roomIds_csvUpload .markInput {
  vertical-align: middle;
}

.cPaperSlipToActiveUser {
  padding: 1em;
}
.cPaperSlipToActiveUser_title {
  margin: 0.6em 0 1em;
}
.cPaperSlipToActiveUser_title span {
  font-size: 1.4em;
}
.cPaperSlipToActiveUser_status {
  margin: 1em 0.4em;
}
.cPaperSlipToActiveUser_form > * {
  margin: 0.4em;
  display: block;
}
.cPaperSlipToActiveUser_form > * .markInput {
  margin-left: 1em;
  padding: 0.2em;
}

.cLogin {
  padding: 1em;
}
.cLogin_title {
  margin: 0.6em 0 1em;
}
.cLogin_title span {
  font-size: 1.4em;
}
.cLogin_status {
  margin: 1em 0.4em;
}
.cLogin_form > * {
  margin: 0.4em;
  display: block;
}
.cLogin_form > * .markInput {
  margin-left: 1em;
  padding: 0.2em;
}
.cLogin_form_verifiedCode_otherSentBtn, .cLogin_form_verifiedCode_useQrLogin {
  margin-left: 0.4em;
}
.cLogin_form_password .markSeparation {
  margin: 0 0.4em;
}

.cRmNiUser {
  padding: 1em;
}
.cRmNiUser_title {
  margin: 0.6em 0 1em;
}
.cRmNiUser_title span {
  font-size: 1.4em;
}
.cRmNiUser_status {
  margin: 1em 0.4em;
}
.cRmNiUser_form > * {
  margin: 0.4em;
  display: block;
}
.cRmNiUser_form > * .markInput {
  margin-left: 1em;
  padding: 0.2em;
}

.cRaiseCats {
  padding: 1em;
}
.cRaiseCats_title {
  margin: 0.6em 0 1em;
}
.cRaiseCats_title span {
  font-size: 1.4em;
}
.cRaiseCats_status {
  margin: 1em 0.4em;
}
.cRaiseCats_form > * {
  margin: 0.4em;
  display: block;
}
.cRaiseCats_form > * .markInput {
  margin-left: 1em;
  padding: 0.2em;
}

.cAutoSignUp {
  padding: 1em;
}
.cAutoSignUp_title {
  margin: 0.6em 0 1em;
}
.cAutoSignUp_title span {
  font-size: 1.4em;
}
.cAutoSignUp_status {
  margin: 1em 0.4em;
}
.cAutoSignUp_form > * {
  margin: 0.4em;
  display: block;
}
.cAutoSignUp_form > * .markInput {
  margin-left: 1em;
  padding: 0.2em;
}

.cLog {
  padding: 1em;
}
.cLog textarea {
  margin: 0.5em 0;
  width: 60%;
  height: 160px;
  resize: none;
}

/*# sourceMappingURL=main.css.map */