
body {
  font-family: 'Noto Sans TC';
}


.cStatusInfo {
  padding: 1em;
}

@mixin scSectionItem() {
  padding: 1em;

  &_title {
    margin: 0.6em 0 1em;

    span {
      font-size: 1.4em;
    }
  }
  &_status {
     margin: 1em 0.4em;
  }
  &_form {
    > * {
      margin: 0.4em;
      display: block;

      .markInput {
        margin-left: 1em;
        padding: 0.2em;
      }
    }
  }
}

.cGetParticipants {
  @include scSectionItem;
}

.cTuckUser {
  @include scSectionItem;

  &_form {
    &_userIds {
      .markInput {
        width: 18em;
      }

      &_csvUpload {
        display: block;

        span {
          font-size: 0.6em;
        }
        .markInput {
          vertical-align: middle;
        }
      }
    }
  }
}

.cPaperSlip {
  @include scSectionItem;

  &_form {
    &_roomIds {
      .markInput {
        width: 18em;
      }

      &_csvUpload {
        display: block;

        span {
          font-size: 0.6em;
        }
        .markInput {
          vertical-align: middle;
        }
      }
    }
  }
}

.cPaperSlipToActiveUser {
  @include scSectionItem;
}

.cLogin {
  @include scSectionItem;

  &_form {
    &_verifiedCode {
      &_otherSentBtn,
      &_useQrLogin {
        margin-left: 0.4em;
      }
    }
    &_password {
      .markSeparation {
        margin: 0 0.4em;
      }
    }
  }
}

.cLog {
  padding: 1em;

  textarea {
    margin: 0.5em 0;
    width: 60%;
    height: 160px;
    resize: none;
  }
}

